[submodule "third_party/date"]
	path = third_party/date
	url = https://github.com/HowardHinnant/date.git
[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "third_party/zorro_websocket_proxy"]
	path = third_party/zorro_websocket_proxy
	url = https://github.com/kzhdev/zorro_websocket_proxy.git
